@model EntityLayer.Concrete.Message
@{
    ViewBag.Title = "GetInboxMessageDetails";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<section class="gradient-custom">
    <div class="container py-5">

        <div class="row">

           
          

            <div class="col-9 m-auto">

                <ul class="list-unstyled text-white">
    
                    <li class="d-flex justify-content-between mb-4">
                        <div class="card mask-custom w-100">
                            <div class="card-header d-flex justify-content-between p-3"
                                 style="border-bottom: 1px solid rgba(255,255,255,.3);">
                                <p class="fw-bold mb-0 text-danger">Gönderen Kişi: <span class="text-white"> @Html.DisplayFor(x => x.SenderMail)</span></p>
                                <p class="text-light small mb-0"><i class="far fa-clock"></i>  @DateTime.Parse(Html.DisplayFor(x => x.MessageDate).ToString()).ToShortDateString()</p>
                            </div>
                            <div class="card-body">
                                <p class="mb-0">
                                    @Html.DisplayFor(x => x.MessageContent)
                                </p>
                            </div>
                        </div>
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp" alt="avatar"
                             class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60">
                    </li>
                
                  
                </ul>

            </div>

        </div>

    </div>
</section>
<style>
    .gradient-custom {
        /* fallback for old browsers */
        background: #fccb90;
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to bottom right, rgba(252, 203, 144, 1), rgba(213, 126, 235, 1));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to bottom right, rgba(252, 203, 144, 1), rgba(213, 126, 235, 1))
    }

    .mask-custom {
        background: rgba(24, 24, 16, .2);
        border-radius: 2em;
        backdrop-filter: blur(15px);
        border: 2px solid rgba(255, 255, 255, 0.05);
        background-clip: padding-box;
        box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    }
</style>