@using EntityLayer.Concrete
@model List<Message>
@{
    ViewBag.Title = "InBox";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}
<section class="gradient-custom">
    <div class="col-10 m-auto mb-5">
        <div class=" mt-2 ">
            <a href="/WriterMessage/Sendbox/" class="btn btn-success">Gönderilen Mesajlar</a>
        </div>
        <h5 class="font-weight-bold mb-3 text-center text-danger">Gelen Mesajlar</h5>

        <div class="card mask-custom">
            <div class="card-body">

                <ul class="list-unstyled mb-0">
                    @foreach (var item in Model)

                    {
                        <li class="p-2 border-bottom" style="border-bottom: 1px solid rgba(255,255,255,.3) !important;">
                            <a href="/WriterMessage/GetInboxMessageDetails/@item.MessageID" class="d-flex justify-content-between link-light">
                                <div class="d-flex flex-row">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-8.webp" alt="avatar"
                                         class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                                    <div class="pt-1">
                                        <p class="fw-bold mb-0">@item.SenderMail</p>
                                        <p class="small text-white">@item.Subject</p>
                                    </div>
                                </div>
                                <div class="pt-1">
                                    <p class="small text-white mb-1">@item.MessageDate.Date.ToShortDateString()</p>
                                    <span class="badge bg-danger float-end">1</span>
                                </div>
                            </a>
                        </li>

                    }
           

                </ul>
                <a href="/WriterMessage/NewMessage/" class="btn btn-danger mt-4"> Yeni Mesaj Oluştur</a>
            </div>
        </div>

    </div>
</section>
<style>
    .gradient-custom {
        /* fallback for old browsers */
        background: #fccb90;
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to bottom right, rgba(252, 203, 144, 1), rgba(213, 126, 235, 1));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to bottom right, rgba(252, 203, 144, 1), rgba(213, 126, 235, 1))
    }

    .mask-custom {
        background: rgba(24, 24, 16, .2);
        border-radius: 2em;
        backdrop-filter: blur(15px);
        border: 2px solid rgba(255, 255, 255, 0.05);
        background-clip: padding-box;
        box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    }
</style>
