@model EntityLayer.Concrete.Message
@{
    ViewBag.Title = "AdminGetInboxMessageDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>@Html.DisplayFor(x => x.SenderMail)</h2>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <!-- table section -->
            <div class="col-md-12">
                <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head">
                       
                    </div>
                    <div class="full inbox_inner_section">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="full padding_infor_info">
                                    <div class="mail-box">
                                        <aside class="sm-side">
                                            <div class="user-head">
                                                <a class="inbox-avatar" href="javascript:;">
                                                    <img width="65" src="" alt="#" />
                                                </a>
                                                <div class="user-name">
                                                    <h5><a href="#">John David</a></h5>
                                                    <span><a href="#">Infotest@gmail.com</a></span>
                                                </div>
                                            </div>
                                            <div class="inbox-body">
                                                <a href="/AdminMessage/AdminNewMessage/" class="btn btn-compose mt-2">
                                                    Yeni Mail
                                                </a>
                                                <a href="/AdminMessage/AdminInBox/" class="btn btn-compose  mt-2">
                                                    Gelen Mailler
                                                </a>
                                                <a href="/AdminMessage/AdminSendbox/" class="btn btn-compose  mt-2">
                                                    Gönderilen Mailler
                                                </a>

                                                <!-- Modal -->
                                        </aside>
                                        <aside class="lg-side ">




                                            <ul class="list-unstyled text-white ">

                                                <li class="d-flex justify-content-between mb-4 ">
                                                    <div class="card mask-custom w-100">
                                                        <div class="card-header d-flex justify-content-between p-3"
                                                             style="border-bottom: 1px solid rgba(255,255,255,.3);">
                                                            <p class="fw-bold mb-0 text-danger">Gönderen Kişi: <span class="text-dark"> @Html.DisplayFor(x => x.SenderMail)</span></p>
                                                            <p class="text-dark small mb-0"><i class="far fa-clock"></i>  @DateTime.Parse(Html.DisplayFor(x => x.MessageDate).ToString()).ToShortDateString()</p>
                                                        </div>
                                                        <div class="card-body">
                                                            <p class="mb-0">
                                                                @Html.DisplayFor(x => x.MessageContent)
                                                            </p>
                                                        </div>
                                                    </div>
                                             


                                            </ul>


                                

                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            </div>
<!-- table section -->
        </div>
    </div>
<!-- footer -->
<div class="container-fluid">
    <div class="footer">
        <p>Copyright © 2018 Designed by html.design. All rights reserved.</p>
    </div>
</div>
</div>
